.contacts {
    display: flex;
    gap: 120px;
    margin-top: 60px;

    &-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__head {
        color: $text-muted;
        font-size: 24px;
        font-weight: $font-weight-medium;
    }

    &-phones {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__value {
        font-size: 28px;
        font-weight: $font-weight-medium;
        color: $accent-color;
    }
}
.addresses {
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 30%;
    }
    &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 28px;
        font-weight: $font-weight-light;

        &__name {
            color: $text-muted;
        }

        &__value {
            color: $text-color;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: $font-weight-medium;
        color: $text-color;
    }

    .map-wrapper {
        flex: 1;
        min-height: 400px;
    }
    
    #map {
        width: 100%;
        height: 100%;
        min-height: 400px;
    }
}

