<footer class="footer">
    <div class="footer__cta-top">
        <div class="container">
            <p class="footer__cta-text">Оставьте заявку, и мы оперативно свяжемся для обсуждения заказа</p>
            <button class="btn btn--primary footer__cta-btn">Оставить заявку</button>
        </div>
    </div>
    <div class="container">
        <div class="footer__content">
            <div class="footer__nav">
                <ul class="footer__list">
                    <li><a href="index.html" class="footer__link">Главная</a></li>
                    <li><a href="pages/catalog.html" class="footer__link">Каталог</a></li>
                    <li><a href="pages/about.html" class="footer__link">О компании</a></li>
                    <li><a href="pages/production.html" class="footer__link">О производстве</a></li>
                    <li><a href="pages/delivery.html" class="footer__link">Доставка и оплата</a></li>
                    <li><a href="#" class="footer__link footer__link--policy">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="footer__address">
                <div class="address__item">
                    <strong>Офис:</strong>
                    <span>г. Нижний Новгород, ул. Кузбасская 17A</span>
                    <a href="#" class="map-link">На карте</a>
                </div>
                <div class="address__item">
                    <strong>Производство:</strong>
                    <span>г. Кстово, ул. Магистральная, здание 83</span>
                    <a href="#" class="map-link">На карте</a>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="contacts__section">
                    <h3 class="footer__title">Телефоны</h3>
                    <div class="phone-numbers">
                        <a href="tel:89519011502" class="phone-link">8 (951) 901-15-02</a>
                        <a href="tel:88312778422" class="phone-link">8 (831) 277-84-22</a>
                        <a href="tel:89200340149" class="phone-link">8 (920) 034-01-49</a>
                    </div>
                </div>
                <div class="contacts__section">
                    <h3 class="footer__title">Почта</h3>
                    <a href="mailto:regiontorg_99@mail.ru" class="email-link">regiontorg_99@mail.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>