body {
    font-family: $font-main;
    font-weight: $font-weight-light;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    font-weight: $font-weight-semibold;
    line-height: 1.2;
    color: $text-color;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 0;
    font-weight: $font-weight-light;
}

a {
    color: inherit;
    text-decoration: none;
}