// Цвета
$accent-color: #5DA9FF;
$text-color: #05133A;
$text-secondary: #516173;
$white: #ffffff;

// Шрифты
$font-main: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Размеры
$container-width: 1320px;
$header-height: 88px;

// Брейкпоинты
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1920px;