@import 'base/reset';
@import 'base/variables';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/sections';

@import 'components/header';
@import 'components/footer';
@import 'components/forms';
@import 'components/buttons';

@import 'pages/home';
@import 'pages/catalog';
@import 'pages/delivery-payment';
@import 'pages/contacts';