.container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
        padding: 0 20px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0 16px;
    }
}

