.main {
    padding-top: $header-height;
}

section {
    padding: 60px 0;

    @media (max-width: $breakpoint-tablet) {
        padding: 40px 0;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 30px 0;
    }
}

// Внутренние отступы секций
section .container {
    padding: 0 40px;

    @media (max-width: $breakpoint-tablet) {
        padding: 0 20px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0 16px;
    }
}

