.main {
    padding-top: $header-height;
}

section {
    padding: 60px 0 0;

    @media (max-width: $breakpoint-tablet) {
        padding: 40px 0 0;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 30px 0 0;
    }
}

section .container {
    padding: 40px 0 0;

    @media (max-width: $breakpoint-tablet) {
        padding: 0 20px 0;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0 16px 0;
    }
}

