.btn {
    padding: 14px 24px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-weight: $font-weight-medium;
    font-size: 20px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: $font-main;
    white-space: nowrap;
    outline: none;
    width: fit-content;

    &__primary {
        background: $accent-color;
        color: $white;
        
        &:hover {
            background: #69B0FF;
        }
    }

    &__outline {
        background: $white;
        border: 1px solid $accent-color;
        color: $accent-color;
        box-shadow: 
            1px -1px 6px rgba(190, 220, 255, 0.25),
            1px -1px 6px rgba(59, 112, 173, 0.2);
        
        &:hover {
            background: rgba(93, 169, 255, 0.05);
        }
    }

    @media (max-width: $breakpoint-tablet) {
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 28px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 10px 16px;
        font-size: 16px;
        border-radius: 24px;
    }
}